<div class="title">
    <div >Models</div>
    <div>Type</div>
    <div>Type</div>
    <div>Activity</div>
</div>
<ul>
<div >
<li *ngFor ="let item of listItems" class="main">
   <div><fa-icon [icon]="myfaSteamIcon"></fa-icon>&nbsp;{{item.model}}</div>
   <div>{{item.cell}}</div>
   <div><ul><li>In Progress</li></ul>
   </div>
   <div class="reset">  <div class="button">Reset</div>
   <span class="new-icon"><fa-icon [icon]="myPenToSquareIcon"></fa-icon>&nbsp;&nbsp;&nbsp;<fa-icon [icon]="myTrashIcon"></fa-icon></span></div>
</li>
</div>
</ul>

